@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$bg-color: #191932;
$bg-block-color: #000000;
$bg-cases-color: -webkit-linear-gradient(270.15deg, #7D40FF 19.44%, #02A4FF 81.9%);
$bg-country-color: -webkit-linear-gradient(270deg, #4DFFDF 0%, #4DA1FF 96.35%);
$recovered-title-color: #97E200;
$recovered-color: #70A800;
$country-color: #D6D6D6;

@mixin h1 {
  font: {
    family: Lato;
    style: normal;
    weight: bold;
    size: 46px;
  }
  line-height: 55px;
}

@mixin h2 {
  font: {
    family: Lato;
    style: normal;
    weight: bold;
    size: 32px;
  }
  line-height: 38px;
}

@mixin h3 {
  font: {
    family: Lato;
    style: normal;
    weight: 700;
    size: 30px;
  }
  line-height: 36px;
}

@mixin h4 {
  font: {
    family: Lato;
    style: normal;
    weight: normal;
    size: 20px;
  }
  line-height: 24px;
}

@mixin h5 {
  font: {
    family: Lato;
    style: normal;
    weight: normal;
    size: 16px;
  }
  line-height: 19px;
}

@mixin h5-bold {
  @include h5;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color;
  color: white;
}

table {
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  height: 56px;

  &__title {
    @include h2;
  }

  &__search {
    width: 299px;
    height: 56px;
    background: $bg-block-color;

    .search-list {
      position: relative;
      max-height: 261px;
      z-index: 2;
      background: #FFFFFF;

      overflow: auto;
    }

    ul {
      list-style-type: none;

      li {
        color: #2493F2;
      }
    }
  }
}

.dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;

  .dashboard-main {
    width: 655px;
    height: 656px;

    &__info {
      display: flex;
      justify-content: space-between;

      .main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &__global {
          text-align: center;
          padding: 11px 16px 13px 16px;

          background: $bg-block-color;

          span {
            display: block;
          }

          .title {
            @include h4;
          }

          .global-text {
            @include h1;

            background: $bg-cases-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &__graph {
          width: 268px;
          height: 213px;
          background: $bg-block-color;
        }
      }

      .map {
        width: 368px;
        height: 333px;
        background: $bg-block-color;
      }
    }

    &__table {
      width: 654px;
      height: 300px;
      margin-top: 3px;
      overflow: auto;
      background: $bg-block-color;
    }
  }

  .dashboard-country {
    width: 310px;
    height: 658px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__date {
      text-align: center;
      padding: 6px 62px 7px 31px;
      background: $bg-block-color;

      span {
        display: block;
      }

      .title {
        @include h5;
      }

      .date-text {
        @include h5-bold;
      }
    }

    &__table {
      width: 309px;
      height: 581px;
      overflow: auto;
      background: $bg-block-color;
    }
  }
}

.dataCountry {
  display: none;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: red;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  margin: .65em .45em;
  cursor: pointer;
  display: inline-block;
  font: normal 1.4em sans-serif;
  color: #444;
  text-shadow: 0 0 2px grey;
  width: .4em;
  height: .4em;
  padding: 0.3vh 0.4vw 2.8vh 1vw;
  background: radial-gradient(circle at 60% 80%, white 40%, #bbb);
  border-radius: .2em;
  position: relative;
  box-shadow: 0 0 .5em #ddd;
  vertical-align: top;
}

.keyboard__key::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -.3em;
  left: -.4em;
  right: -.4em;
  bottom: -.8em;
  z-index: -1;
  border-style: solid;
  border-radius: .2em;
  border-width: .25em .35em .75em .35em;
  background: #ddd;
  border-color: #ddd #aaa #888 #bbb;
  box-shadow: 0 0.15em 0.2em;
}

.keyboard__key:active {
  margin-top: .7em;
  margin-bottom: .6em;
}

.keyboard__key:active::before {
  box-shadow: 0 0.1em 0.1em;
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key-lightup {
  background: #23d5ab;
}

@keyframes lightup {
  0% {
    background: radial-gradient(circle at 60% 80%, white 40%, #bbb);
  }
  50% {
    background: #23d5ab;
  }
  100% {
    background: radial-gradient(circle at 60% 80%, white 40%, #bbb);
  }
}

@media (max-width: 1280px) {
  .keyboard__key {
    padding: -0.7em 0.4em 0.8em 1em;
  }
}
