$bg-color: white;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color;
  display: flex;
  flex-direction: row-reverse;
}

.dataCountry {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: red;
}